@using NewTelerick.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class='row'>
        <div class='col-12 mt-5'>
            <h1 class='welcome mb-0'>Welcome to Telerik UI for ASP.NET Core</h1>
            <h2 class='sub-header mt-0'>
                Focus on the core of your application and spend less time sweating over the
                UI
            </h2>
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            <h1 class='get-started'>Get Started</h1>
            @(Html.Kendo().Grid<NewTelerick.Models.ProductViewModel>()
                .Name("Grid")
                .Columns(columns =>
                {
                    columns.Bound(p => p.ProductName);
                    columns.Bound(p => p.Price);
                    columns.Bound(p => p.Discontinued).ClientTemplateId("myTemplate");
                })
                .Pageable()
                .Scrollable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(20)
                    .Read("Products_Read", "Grid")
                )
                )
        </div>
    </div>
    <div class='row justify-content-center'>
        <div class='col-4 text-right'>
            <div>
                <img class="ninja" alt="Telerik UI Template Wizard Ninja" src="/images/Ninja 1.svg">
            </div>
            <div class="text-center">
                <h2>Telerik UI DatePicker for ASP.NET Core</h2>
                <kendo-datepicker name="my-picker"/>
            </div>
        </div>
        <div class='col-4 components-list'>
            <p>
                <img src='/images/components.png' alt='components' />
                <a href='https://demos.telerik.com/aspnet-core'>Components</a>
            </p>
            <p>
                <img src='/images/styles.png' alt='styles' />
                <a href='https://docs.telerik.com/aspnet-core/styles-and-layout/sass-theme-builder'>
                    Sass Theme Builder
                    overview
                </a>
            </p>
            <p>
                <img src='/images/blogs.png' alt='blogs' />
                <a href='https://www.telerik.com/blogs/tag/asp.net-core'>Blog Posts</a>
            </p>
        </div>

    </div>
</div>

<script>

</script>